.sidebar-menus-item {
  padding: 15px 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333;
  transition: 0.3s;
}

.sidebar-menus-item:hover {
  background: #ddd;
}

.sidebar-menus-item:active {
  background: #ccc;
}

  .sidebar-menus-item span {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 600;
  }

  .sidebar-menus-item i {
    font-size: 17px;
  }

.sidebar-menus-active {
  border-left: 3px solid #f44336;
  color: #f44336;
}