.header {
  position: fixed;
  z-index: 10;
  width: calc(100% - 300px);
  height: 60px;
  left: 300px;
  top: 0;
  display: grid;
  /* full : grid-template-columns: 60px 120px 1fr 60px 60px; */
  grid-template-columns: 60px 120px 1fr 60px 60px; 
  border-bottom: 1px solid #eee;
}