.header {
  position: fixed;
  z-index: 10;
  width: calc(100% - 300px);
  height: 60px;
  left: 300px;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 60px 80px; 
  border-bottom: 1px solid #eee;
  backdrop-filter: blur(10px) grayscale(10%);
}