.header-message {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
  color: #555;
}

.header-message:hover {
  background: #eee;
}

.header-message:active {
  background: #ccc;
}