.header-message {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
  color: #555;
}

.header-message:hover {
  background: #ddd;
}

.header-message:active {
  background: #ccc;
}

  .header-message i {
    font-size: 25px;
  }

  .header-message-bullet {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #f44336;
    top: 15px;
    right: 14px;
    animation: kedipkedip 0.5s infinite;
    z-index: 10;
  }

@keyframes kedipkedip {
  0% {
    transform: scale(1);
  } 
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}