.header-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
  color: #555;
}

.header-profile:hover {
  background: #ddd;
}

.header-profile:active {
  background: #ccc;
}

  .header-profile-img {
    width: 35px;
    border-radius: 35px;
    margin-right: 5px;
  }

  .header-profile i {
    font-size: 17px;
  }